{% extends 'base.html' %}

{% block content %}
  {% for game in games %}
    <article class="game">
      <header>
        <div>
          <h1>{{ game['title'] }}</h1>
          <div class="about">Game {{ game['gamename'] }} created {{ game['created'].strftime('%Y-%m-%d') }}</div>
          {% if (players is defined) and players[game['id']] %}
          players {{players[game['id']]|length}}:
          {% for player in players[game['id']] %}
        {% if g.user['id'] == player['user_id'] %}
        <a class="action" href="{{ url_for('player.submit', id=player['id']) }}">Submit Turn {{game['turnnum']}} </a>
        {% else %}
        <P>{{ player['username'] }}</P>
        {% endif %}
        {% endfor %}
          {% endif %}
          {% if (openseats is defined) and openseats[game['id']] %}
          <P>open seats {{openseats[game['id']]|length}} :
          {% for openseat in openseats[game['id']] %}
            <a class="action" href="{{ url_for('player.join', id=openseat['id']) }}">playernumber {{ openseat['playernumber'] }}</a>
          {% endfor %}
          {% endif %}
          </P>
          </div>
      </header>
      <p class="body">summary:{{ game['summary'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
